:root {
  --primary-color: #3f61db;
  --black: #000;
  --white: #fff;
  --gray-light: #d7d7d7;
  --gray-dark: #757575;
  --gray-ice: #cee2ff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}

label {
  font-size: .9rem;
  font-weight: 600;
}

select, input, button {
  height: 3rem;
  border: 1px solid var(--gray-light);
  border-radius: .2rem;
  padding: .5rem;
}

p {
  margin: 0;
}

.font-big {
  font-size: 4rem;
  font-weight: 600;
}

.font-normal {
  font-size: 1.1rem;
}
.font-small {
  font-size: .8rem;
}

.font-blue {
  color: var(--primary-color);
}

::placeholder {
  color: var(--gray-light);
}