.container {
    padding: 4rem 4rem 0 4rem;
    max-width: 90%;

    .main {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .name {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary-color);
        }

        .others {
            display: flex;
            justify-content: space-between;

            .other {
                p {
                    margin-bottom: .7rem;
                    cursor: pointer;
                }
                .heading {
                    font-weight: 500;
                    margin-bottom: 1rem;
                    cursor: default;
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-top: 1px solid var(--gray-light);
        margin-top: 4rem;

        p {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
            }

            .others {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 8rem;

                .other {
                    .heading {
                        margin-top: 2rem;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .copyright {
            flex-direction: column;
            align-items: center;
        }
    }
}