.container {
    padding: 8rem 4rem;
    background-color: var(--gray-ice);

    .details {
        margin: 1rem 0;
    }

    .buttons {
        display: flex;
        gap: 1rem;

        button {
            background-color: var(--black);
            color: var(--white);
            border-radius: .2rem;
            padding: .5rem 1rem;
            border: none;
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }
}