.container {
    background-color: var(--white);
    padding: .5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        .logoText {
            font-size: 28px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            text-decoration: none;
            color: var(--black);

            &:hover {
                color: var(--primary-color);
                scale: 1.1;
            }
        }

        .buttons {
            display: flex;
            gap: 1rem;
            margin-left: 2rem;

            button {
                background-color: var(--primary-color);
                height: 2rem;
                border-radius: 1rem;
                padding: .5rem 1rem;
                color: var(--white);
                border: none;
                cursor: pointer;
            }
        }
    }
}